<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>
<title>{{title}}</title>
<link rel="stylesheet" href="/static/tree.css">
<script type="text/javascript" src="http://mbostock.github.com/d3/d3.js?2.0.0"></script>
<script type="text/javascript" src="http://mbostock.github.com/d3/d3.csv.js?2.0.0"></script>
<script type="text/javascript" src="http://mbostock.github.com/d3/d3.time.js?2.0.0"></script>
<script type="text/javascript" src="http://mbostock.github.com/d3/d3.layout.js?2.0.0"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.js"></script>
<script type="text/javascript" src="/static/tree.js"></script>
</head>
<body>
<div class="header">
  <h2>
  {% for t in treenames %}
  <a href="/tree/{{t}}">{{t}}</a>
  {% endfor %}
  </h2>
</div>
<div class="container">
  <button>Randomise</button>
  <div class="chart">
  </div>
  <script>
    var dataUrl = "/tree/{{treename}}/data";
    d3.select("button").on("click", function() {
      drawTree(dataUrl);
    })
    drawTree(dataUrl);
  </script>
</div>
</body>
</html>
