<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>
<title>{% block title %}Notes.DjApp{% endblock %}</title>
<link rel="stylesheet" href="/static/treevis.css">
<script type="text/javascript" src="http://mbostock.github.com/d3/d3.js?2.0.0"></script>
<script type="text/javascript" src="http://mbostock.github.com/d3/d3.csv.js?2.0.0"></script>
<script type="text/javascript" src="http://mbostock.github.com/d3/d3.time.js?2.0.0"></script>
<script type="text/javascript" src="http://mbostock.github.com/d3/d3.layout.js?2.0.0"></script>
<script type="text/javascript" src="/static/treevis.js"></script>
</head>
<body>
<div class="container">
    {% block content %}{% endblock %}
    <button onclick='drawTree("data/bintree.json")'>Binary Tree</button>
    <button onclick='drawTree("data/avltree.json")'>AVL Tree</button>
    <button onclick='drawTree("data/redblacktree.json")'>Red Black Tree</button>
    <div class="chart">
    </div>
</div>
</body>
</html>
