body {
  font: 10px sans-serif;
  margin: 0;
}

.chart svg {
  margin: 10px;
  padding: 20px;
}

path.link {
  fill: none;
  stroke: #666;
  stroke-width: 2px;
}

.node circle {
  fill: WHITE;
  stroke: #000;
  stroke-width: 1px;
}

circle.red {
  fill: RED;
}

.axis {
  shape-rendering: crispEdges;
}

.x.axis line {
  stroke: #fff;
}

.x.axis .minor {
  stroke-opacity: .5;
}

.x.axis path {
  display: none;
}

.y.axis line, .y.axis path {
  fill: none;
  stroke: #000;
}